@import "../node_modules/normalize-scss/sass/normalize/import-now";

div{
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,ul,li{
	margin:0;
	padding: 0;
}

.contain{
	width: 100%;
	height: 100vh;
	display: flex;
}
.contain-1, .contain-2, .contain-3, .contain-4{
	height: 100vh;
	background: #000;
}
.contain-1{
	width: 8%;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.contain-2{
	width: 46%;
}
.contain-3{
	width: 23%;
	display: flex;
	flex-direction: column;
}
.contain-4{
	width: 23%;
}
.contain-1 h1{
	transform: rotate(-90deg);
	margin-bottom: 10vh;
	font-size: 30px;
}
.contain-1 h3{
	transform: rotate(-90deg);
	margin-top: 30vh;
	font-size: 22px;
}
.contain-body-1{
	height: 50vh;
}
.contain-body-2{
	background: #fff;
	height: 25vh;
	width: 100%;
	display: flex;
}
.body-inner-1{
	width: 50%;
}
.body-inner-2{
	width: 50%;
}
.background-1{
	background: #000000 url(img/2.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.background-2{
	background: #fff;
	height: 50vh;
	text-align: center;
}
.background-3{
	background: #000000;
	height: 50vh;
	text-align: center;
	color: #fff;
}
.background-4{
	background: #000000 url(img/1.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.background-5{
	background: #000000 url(img/3.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.background-6{
	background: #000000 url(img/4.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.background-7{
	background: #000000 url(img/1.jpg) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
